* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider {
  overflow: hidden;
  position: relative;
  height: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__flexgrow {
  position: absolute;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

.slider__flexcontainer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__back--1 {
  width: 73%;
  height: 100%;
  background-image: url(./img/back_green.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 105%;
  z-index: 1;
}

.slider__back--2 {
  width: 73%;
  height: 100%;
  background-image: url(./img/back_blue.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 105%;
  z-index: 1;
}

.slider__back--3 {
  width: 73%;
  height: 100%;
  background-image: url(./img/back_purple.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 105%;
  z-index: 1;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  min-width: 300vw;
  -webkit-transform: 0;
          transform: 0;
  max-height: 960px;
}

.slider__container--flexgrow {
  margin: 0 2vw 0 2vw;
  z-index: 2;
  position: absolute;
  width: 95vw;
}

.slider__container--flexcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.slider__container--1 {
  background-color: #0D5E3C;
  background-image: url(img/back_slider.svg);
  background-blend-mode: multiply;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__container--2 {
  background-color: #173673;
  background-image: url(img/back_slider.svg);
  background-blend-mode: multiply;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__container--3 {
  background-color: #630773;
  background-image: url(img/back_slider.svg);
  background-blend-mode: multiply;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__right {
  z-index: 3;
}

.slider__right--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  margin-top: 30px;
}

.slider__right--button-1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
  padding: 18px 50px;
  border: 2px dashed #FFFFFF;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.slider__right--button-1:hover {
  background-color: #FFFFFF;
  font-weight: 700;
  color: #0ED984;
}

.slider__right--button-2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
  padding: 18px 50px;
  border: 2px dashed #FFFFFF;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.slider__right--button-2:hover {
  background-color: #FFFFFF;
  font-weight: 700;
  color: #3577F6;
}

.slider__right--button-3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
  padding: 18px 50px;
  border: 2px dashed #FFFFFF;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.slider__right--button-3:hover {
  background-color: #FFFFFF;
  font-weight: 700;
  color: #D72DF3;
}

.slider__buttons--left {
  background-image: url(./img/button_left.svg);
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-repeat: no-repeat;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.slider__buttons--left:hover {
  width: 50px;
  height: 50px;
  background-image: url(./img/button_left_hover.svg);
  opacity: 1;
}

.slider__buttons--right {
  background-image: url(./img/button_right.svg);
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-repeat: no-repeat;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.slider__buttons--right:hover {
  width: 50px;
  height: 50px;
  background-image: url(./img/button_right_hover.svg);
  opacity: 1;
}

.slider__toplayer {
  position: absolute;
  max-height: 960px;
  left: 18vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px 0 50px;
  z-index: 5;
}

.slider__toplayer-horizontal--flexcenter {
  max-width: 1485px;
  max-height: 752px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

.slider__toplayer-horizontal--flexgrow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.slider__toplayer-vertical--flexcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.slider__toplayer-vertical--flexgrow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.slider__toplayer-vertical--flexcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.slider__toplayer--progress-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__toplayer--progress-point {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  margin-right: 20px;
  cursor: pointer;
}

.slider__toplayer--progress-point-image {
  display: block;
}

.slider__logo--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__logo--left {
  font-size: 22px;
  color: #FFFFFF;
  display: block;
  margin-right: 5px;
}

.slider__logo--right {
  font-weight: 800;
  font-size: 22px;
  color: #0ED984;
  display: block;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.slider__logo--img {
  display: block;
  margin-right: 5px;
}

.slider__content--flexcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__content--flexcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 1400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 50px 0 50px;
}

.slider__content--flexgrow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.slider__content--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__content--top-text {
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  color: #0ED984;
  display: block;
  border-bottom: 3px solid #0ED984;
  padding-bottom: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 25px;
}

.slider__content--header {
  font-weight: 800;
  font-size: 96px;
  color: #FFFFFF;
  line-height: 110%;
  margin-bottom: 45px;
}

.slider__content--bottom-text {
  font-weight: 300;
  font-size: 20px;
  line-height: 125%;
  color: #FFFFFF;
  max-width: 585px;
  display: block;
}

.progress-image {
  height: 25px !important;
  width: 25px !important;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__header {
  font-weight: 900;
  font-size: 36px;
  line-height: 115%;
  color: #1D1A1A;
  margin-top: 30px;
}

.features__header--color-1 {
  color: #0ED984;
}

.features__header--color-2 {
  color: #3577F6;
}

.features__header--color-3 {
  color: #D72DF3;
}

.features__header--text {
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: #615D5D;
  margin-top: 20px;
}

.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 141px 40px;
  max-width: 1520px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature {
  max-width: 400px;
}

.feature:not(:last-child) {
  margin-right: 50px;
  min-width: 250px;
  margin-bottom: 50px;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 150px 0;
  background-color: #F3F3F3;
  position: relative;
}

.feedback__modal {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.feedback__modal--helper {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 0%;
  top: 0;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.feedback__modal--flexcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 55px;
  border-radius: 20px;
  background-color: aliceblue;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.feedback__modal--text-1 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}

.feedback__modal--text-2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.feedback__modal--img {
  width: 80px;
  height: 80px;
}

.feedback__container {
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedback__left {
  margin-right: 166px;
  max-width: 614px;
  margin-bottom: 20px;
}

.feedback__left--header {
  font-weight: 800;
  font-size: 66px;
  line-height: 110%;
  color: #1D1A1A;
  margin-bottom: 30px;
}

.feedback__left--text {
  font-size: 20px;
  line-height: 130%;
  color: #615D5D;
}

.feedback__right--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback__right--input {
  padding: 20px;
  border: 0px solid #615D5D;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1D1A1A;
  width: 275px;
  margin-right: 25px;
  cursor: pointer;
}

.feedback__right--input::-webkit-input-placeholder {
  font-weight: 300;
}

.feedback__right--input:-ms-input-placeholder {
  font-weight: 300;
}

.feedback__right--input::-ms-input-placeholder {
  font-weight: 300;
}

.feedback__right--input::placeholder {
  font-weight: 300;
}

.feedback__right--input:hover::-webkit-input-placeholder {
  font-weight: 700;
}

.feedback__right--input:hover:-ms-input-placeholder {
  font-weight: 700;
}

.feedback__right--input:hover::-ms-input-placeholder {
  font-weight: 700;
}

.feedback__right--input:hover::placeholder {
  font-weight: 700;
}

.feedback__right--submit {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  background-color: #138F5B;
  padding: 20px 30px;
  border: 0;
}

.feedback__right--submit:hover {
  background-color: #04643C;
  cursor: pointer;
}

.feedback__right--agreement {
  margin-top: 42px;
  font-size: 16px;
  color: #A6A6A6;
}

.feedback__right--agreement-anchor {
  text-decoration: underline;
}

.feedback__right--agreement-anchor:hover {
  cursor: pointer;
}

footer {
  background-color: #1D1A1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px 0;
}

.slider__logo--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__container {
  max-width: 1600px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 1620px) {
  .slider__toplayer {
    left: 40vw;
  }
  .slider__toplayer-horizontal--flexcenter {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .slider__toplayer--progress-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer__container {
    padding-left: 25px;
  }
}

@media (max-width: 376px) {
  .slider {
    max-height: 667px;
  }
  .slider__toplayer {
    width: 100%;
    left: 0;
    margin: 0;
    padding: 40px 16px;
  }
  .slider__toplayer--progress-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .slider__toplayer-horizontal--flexcenter {
    width: 375px;
  }
  .slider__logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .slider__buttons--left {
    display: none;
  }
  .slider__buttons--right {
    display: none;
  }
  .slider__back--1 {
    width: 100%;
    height: 75%;
    background-image: url(./img/back_green_mobile.svg);
    z-index: 1;
  }
  .slider__back--2 {
    width: 100%;
    height: 75%;
    background-image: url(./img/back_blue_mobile.svg);
    z-index: 1;
  }
  .slider__back--3 {
    width: 100%;
    height: 75%;
    background-image: url(./img/back_purple_mobile.svg);
    z-index: 1;
  }
  .slider__content--flexcenter {
    margin: 0;
  }
  .slider__content--header {
    font-size: 36px;
    margin-bottom: 16px;
  }
  .slider__content--top-text {
    margin-bottom: 20px;
  }
  .slider__content--bottom-text {
    max-width: 320px;
  }
  .slider__container--flexgrow {
    width: 335px;
    margin-top: 225px;
  }
  .slider__right--container {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .slider__container--1, .slider__container--2, .slider__container--3 {
    background-image: url(./img/back_slider_mobile.svg);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .second_slide {
    max-width: 330px;
  }
  .third_slide {
    margin-bottom: 25px;
  }
  .features__container {
    padding: 75px 0;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features__header {
    font-size: 26px;
    margin: 10px 0 20px 0;
  }
  .features__header--text {
    font-size: 18px;
    max-width: 315px;
    line-height: 130%;
  }
  .feature {
    max-width: 343px;
    margin: 0;
  }
  .feature:not(:last-child) {
    margin: 0;
    padding: 30px 0 30px 0;
  }
  .feature__img {
    max-width: 50px;
    max-height: 50px;
  }
  .feedback {
    padding: 75px 0 40px 0;
  }
  .feedback__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 344px;
  }
  .feedback__left {
    margin: 0;
  }
  .feedback__left--header {
    font-size: 36px;
    line-height: 110%;
    margin-bottom: 15px;
  }
  .feedback__left--text {
    margin-bottom: 15px;
  }
  .feedback__right--form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback__right--input {
    margin: 0 0 15px 0;
    width: 100%;
  }
  .feedback__right--agreement {
    margin-top: 25px;
    text-align: center;
  }
  .slider__logo--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__container {
    max-width: unset;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    padding-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */